<!-- views/partials/search_bar -->
<form action="../../routes/index.js" method="post">
  <div class = "border border-success rounded p-4 text-muted">
    <div>
      <h3 class="my-2">Module Code: </h3>
      <input type="text" name="code">
    </div>
    <div>
      <h3 class="my-2">Semester:</h3>
      <input type="text" name="semester">
    </div>
      <input class="my-3" type="submit" value="Filter">
  </div>
</form>
