<div class="form-group ">
    <label for="code">Module Code:</label>
    <input type="text" class="form-control" id="code"
        name="code" required=true>
</div>
<div class="form-group">
  <label for="semester">Semester:</label>
  <select class="form-control" id="semester" name="semester">
    <option>16/17 Semester 1</option>
    <option>16/17 Semester 2</option>
    <option>17/18 Semester 1</option>
    <option selected>17/18 Semester 2</option>
  </select>
</div>
