<!-- views/partials/footer.ejs -->
<!-- Declare this as a navbar to have the ability to push it
to the bottom -->
<footer class="navbar navbar-fixed-bottom footer">
    <p>&copy; Orbital 2018</p>
</footer>
