<!-- /views/partial/head -->
<head>
  <title>AnswerXchange</title>
  <meta lang="utf-8">
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  crossorigin="anonymous">
  <!-- import fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Galada|Indie+Flower|Raleway:400,600|Roboto" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
