<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
  <div class="form-group">
    <div id="scrolling-container">
      <div id="editor">
      </div>
    </div>
  </div>
  <input name="text" type="hidden">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
var quill = new Quill('#editor', {
modules: {
  toolbar: [
    [{ header: [1, 2, false] }],
    ['bold', 'italic'],
     ['link', 'blockquote', 'code-block', 'image'],
     [{ list: 'ordered' }, { list: 'bullet' }]
  ]
},
scrollingContainer: '#scrolling-container',
placeholder: 'Compose an epic...',
theme: 'snow'
});

var form = document.querySelector("form");
var text = document.querySelector("input[name=text]");

/* Function upon submission */
form.onsubmit = function() {
  //Get content in my text-editor
  var delta = quill.getContents();

  text.value = JSON.stringify(delta.ops[0].insert);
  //Trim the last 2 characters
  text.value = text.value.substring(1, text.value.length - 3);
  return true;
}
</script>
