<!-- Side navigation -->
<div class= "user_details">
      <img src=<%= user.photo_URI %> class="profile my-2"
          alt="User photo">
  <h3 align="middle"> User details </h3>
  <h5> Name: <%= user.username %></h5>
  <h5> Email: <%= user.email %> </h5>
  <h5> Major: <%= user.major %> </h5>
</div>

<style>
.profile {
  border-radius: 50%;
  height: 140px;
}

.user_details {
  margin-top: 5%;/* Initial buffer to seperate from the navbar */
  width:100%;
  height: 95%;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  border: black 2px solid;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 3em; /* Place content 60px from the top */
  text-align: center;
}
</style>
