<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <% if (!locals.user) { %>
            <div class="promo border border-dark p-4" align="center">
              <a href='/login'>Login to post your queries or help your friends</a>
              <div>OR</div>
              <a href='/signup'>Sign-up if you do not have an account.</a>
            </div>
          <% } %>
          <hr class="my-3">
          <h1>Recent happenings:</h1>
          <hr class="my-3">
          <%- include('partials/recentposts') %>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
