<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('partials/navBar') %>
      <h1 class="my-1 display-1">Login</h1>
        <div class="jumbotron">
          <h1 class="display-3">WELCOME!</h1>
            <h3>This is some description as to what the app is about
              bla bla bla. I am happy!!</h3>
            <hr class= "my-5">
          <%- include('partials/login_component.ejs') %>
        </div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
