<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('partials/navBar') %>
    </div>
    <h4><h4>
    <% for each question in questions { %>
      <div class="">
      <div>
    <% } %>
  </body>
<%- include('partials/footer') %>
</html>
