<!DOCTYPE html>
<!-- Page that returns the query results -->
<html>
<%- include('partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('partials/nav_bar') %>
      <h1 class="my-4 display-4">Results</h1>
        <h3>Results for Module: <% results.code %>
            , Semester: <% results.sem %></h3>
        <div class="jumbotron">
          <%- include('partials/'listResults') %>
        </div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
