<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('partials/navBar') %>
      <h1 class="my-4 display-4">Search</h1>
      <h3> Some instructions with regards to what you can do on this site.
        Let's try to make it idiot proof</h3>
        <hr class="my-5">
        <div class="jumbotron">
            <%- include('partials/filter') %>
        </div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
