<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="my-2 display-2">Search</h1>
          <h3> Search for answers to your queries here </h3>
          <hr class="my-5">
          <div class="jumbotron border border-primary p-4 text-muted">
            <form action="" method="post">
              <div class = "border border-dark rounded p-4 text-muted">
                <%- include('partials/filter_bars') %>
                <button type="submit" class="btn btn-primary">Filter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>


