<!-- Dummy template for the basic page -->
<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('partials/navBar') %>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
