<!-- Dummy template for the basic page -->
<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col-md-10 offset-md-1"></div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
