h1 {
  font-family: 'Galada', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

h5 {
  font-family: 'Indie Flower', cursive;
}

body {
  padding: 80px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #116879;
}

.jumbotron {
  background-color: #E7EFFC!important;
}
 .post-container{
   background-color: white;
   color: #33658A;
   display: block;
   border: 2px solid;
   border-color: #33658A;
 }

 .post-header{
   font-size: 24px;
   color: white;
   background-color: #EF5742;
   display: block;
   padding-top: 1em;
 }

 .post-content{
   font-size: 18px;
 }

 .profile {
   border-radius: 25%;
   height: 150px;
 }

 .smaller-profile {
   border-radius: 25%;
   height: 100px;
 }
